<template>
  <div class="grid-container">
    <Navbar />
    <sidebar />
    <main class="main"></main>
    <Footer />
  </div>
</template>

<script>
import Navbar from '~/components/layout/navbar'
import Footer from '~/components/layout/footer'
import sidebar from '~/components/layout/sidebar'

export default {
  components: {
    Navbar,
    Footer,
    sidebar
  }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
